/* Use ARDC Proxima Nova */
@import url("https://use.typekit.net/nlr0joz.css");

#nectar-header {
  --nectar-color-purple: #8E489B;
  --nectar-color-pink: #E51875;
  --nectar-color-blue: #00A2C4;
  --nectar-color-orange: #F8B20E;
  --nectar-color-grey: #969696;
  --nectar-border-radius: 2px;

  height: 40px !important;
  min-height: 40px;
  font-family:  proxima-nova, sans-serif;
}

.nectar-header .nectar-logo {
  width: 32px;
  height: 32px;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><polygon style="fill:%23F5B01A" points="442.1,245.4 512,122.7 442.1,0 302.3,0 232.4,122.7 302.3,245.4 "/><polygon style="fill:%23F5B01A" points="442.1,517.6 512,394.9 442.1,272.2 302.3,272.2 232.4,394.9 302.3,517.6 "/><polygon style="fill:%23F5B01A" points="209.7,381.5 279.6,258.8 209.7,136.1 69.9,136.1 0,258.8 69.9,381.5 "/></svg>');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.nectar-header {
  min-height: 100%;
  height: 100%;
  width: 100%;
  background-color: #000000;
  color: #9d9d9d;
  display: flex;
  padding: 0px 4px 0px 4px;
  align-items: center;
}

.nectar-header .nectar-header-left {
  display: flex;
  flex-grow: 1;
  height: 100%;
  align-items: center;
}

.nectar-header .nectar-header-right {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 8px;
}

.nectar-header .nectar-nav-item {
  box-sizing: border-box;
  height: 100%;
  padding: 2px 12px;
  transition: height 2s linear;
  display: flex;
  align-items: center;
  font-family: var(--jp-ui-font-family);
  font-size: 1em;
  text-transform: none;
}

.nectar-header .nectar-nav-item a:hover {
  color: #00ffff;
  transition: color .15s ease-in-out;
}

.nectar-header {
  background-color: #333;
  transition: background-color .15s ease-in-out;
}

.nectar-header {
  color: #fff;
  transition: color .15s ease-in-out;
}

.nectar-header .nectar-username {
  display: flex;
  align-items: center;
}
.nectar-header .nectar-username-text {
  padding: 0 4px;
}
